/*colors*/
$color-grey:#9397a0;
$color-blue-dark:#3f6187;
$color-blue-light:#4285f4;
$color-blue-extralight:#528ef1;
$color-blue-heading:#275a83;
$color-grey-border:#cacaca;
$color-grey-title:#656567;
$color-intro:#f3f5f7;
$color-header:#2b435e;
$color-form-border:#d7d7d7;
$color-btn-red:#ff7e65;
$color-grey-nav:#444;

/*responsive*/
$tablet: 1024px;
$mobile: 767px;

/*fonts*/
$lato-regular: 'latoregular', arial, helvetica, sans-serif;
$lato-italic: 'latoitalic', arial, helvetica, sans-serif;
$open-sans-regular: 'open_sansregular', arial, helvetica, sans-serif;
$open-sans-bold: 'open_sansbold', arial, helvetica, sans-serif;
$open-sans-semibold: 'open_sanssemibold', arial, helvetica, sans-serif;
$open-sans-extrabold: 'open_sansextrabold', arial, helvetica, sans-serif;
