{% include "partials/_head.html" %}

<div class="page">
  {% include "partials/_header.html" %}
  <div class="promo-area">
    <div class="holder">
      <h1>Frequently asked questions</h1>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.</p>
      <span class="insta">instagram</span>
      <a href="#" class="arrow">arrow</a>
    </div><!-- / holder -->
  </div><!-- / promo-area -->
  <div class="order-area">
    <div class="accordion">
      <div class="item">
        <strong class="title">How meny pictures or videos can I upload each day?</strong>
        <p>You can change your username once every 48 hours.</p>
      </div><!-- / item -->
      <div class="item">
        <strong class="title">How often can I change my username?</strong>
        <p>You can change your username once every 48 hours.</p>
      </div><!-- / item -->
      <div class="item">
        <strong class="title">Why does my account have to be set public?</strong>
        <p>You can change your username once every 48 hours.</p>
      </div><!-- / item -->
      <div class="item">
        <strong class="title">How do you deliver real likes?</strong>
        <p>You can change your username once every 48 hours.</p>
      </div><!-- / item -->
      <div class="item">
        <strong class="title">Will my account get banned or disabled?</strong>
        <p>You can change your username once every 48 hours.</p>
      </div><!-- / item -->
      <div class="item">
        <strong class="title">Do I need to give you my password?</strong>
        <p>You can change your username once every 48 hours.</p>
      </div><!-- / item -->
      <div class="item">
        <strong class="title">How fast will I receive my likes after I upload my picture or video?</strong>
        <p>You can change your username once every 48 hours.</p>
      </div><!-- / item -->
      <div class="item">
        <strong class="title">Do you offer automatic followers?</strong>
        <p>You can change your username once every 48 hours.</p>
      </div><!-- / item -->
      <div class="item">
        <strong class="title">What is yours refound policy?</strong>
        <p>You can change your username once every 48 hours.</p>
      </div><!-- / item -->
      <div class="item">
        <strong class="title">How can I cancel my subskription?</strong>
        <p>You can change your username once every 48 hours.</p>
      </div><!-- / item -->
    </div><!-- / accordion -->
    <section class="testimonials">
      <div class="col">
        <img src="assets/images/img-stars.png" alt="5 stars comment">
        <em class="title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</em>
        <p><em>Sed ut perspiciatis unde omnis iste natus error sit eaque ipsa quae ab illo inventore veritatis et quasi architecto quia voluptas sit aspernatur aut odit aut fugit, sed quia conseqnventore veritatis et sequi nesciunt neque porro ! </em></p>
        <div class="name">
          <img src="assets/images/img-face-01.png" alt="user">
          <span><span>Sarah Davis</span>, Los Angeles</span>
          <span class="info">1764 posts    27K followers</span>
        </div><!-- / name -->
      </div><!-- / col -->
      <div class="col">
        <img src="assets/images/img-stars.png" alt="5 stars comment">
        <em class="title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</em>
        <p><em>Sed ut perspiciatis unde omnis iste natus error sit eaque ipsa quae ab illo inventore veritatis et quasi architecto quia voluptas sit aspernatur aut odit aut fugit, sed quia conseqnventore veritatis et sequi nesciunt neque porro ! </em></p>
        <div class="name">
          <img src="assets/images/img-face-01.png" alt="user">
          <span><span>Sarah Davis</span>, Los Angeles</span>
          <span class="info">1764 posts    27K followers</span>
        </div><!-- / name -->
      </div><!-- / col -->
    </section><!-- / testimonials -->
    <section class="start">
      <h2>Get Started Now!</h2>
      <p>Choose one of the options below to get started. Your Instagram Likes and Followers are only a few clicks away!</p>
      <div class="btn-area">
        <a href="#" class="btn black"><img src="assets/images/ico-like.png" alt="like">Buy Likes</a>
        <a href="#" class="btn black"><img src="assets/images/ico-follower.png" alt="like">Buy Followers</a>
      </div><!-- / btn-area -->
    </section><!-- / start -->
  </div><!-- / order-area -->
  <div class="wrapper">
    {% include "partials/_footer.html" %}
  </div><!-- / wrapper -->
</div><!-- / page -->
</body>
{% include "partials/_scripts.html" %}
</html>
