{% include "partials/_head.html" %}

<div class="page homepage">
  {% include "partials/_header.html" %}
  <div class="banner-area">
    <div class="holder">
      <h1>Boost Your Instagram Popularity</h1>
      <ul>
        <li>likes</li>
        <li>followers</li>
        <li>views</li>
      </ul>
      <p>Using a like4like model, we deliver a highly targeted followers base to organically <br>deliver likes, followers and views with each new post you upload.</p>
      <nav>
        <a href="#" class="btn"><img src="assets/images/ico-boost.png" alt="like">Boost my Profile</a>
      </nav>
      <span class="insta">instagram</span>
      <a href="#" class="arrow">arrow</a>
    </div><!-- / holder -->
  </div><!-- / banner-area -->
  <div class="wrapper">
    <h2>Our Process</h2>
    <section class="process">
      <div class="col">
        <iframe src="https://player.vimeo.com/video/211547332?title=0&byline=0&portrait=0" width="100%" height="265" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div><!-- / col -->
      <ul class="col">
        <li>
          <strong class="ttl"><img src="assets/images/ico-02.png" alt="icon">Create a Free Account</strong>
          Create your free account to join our member network.
        </li>
        <li>
          <strong class="ttl"><img src="assets/images/ico-01.png" alt="icon">Select Your Plan</strong>
          Choose how aggressive you would like to grow your profile.
        </li>
        <li>
          <strong class="ttl"><img src="assets/images/ico-03.png" alt="icon">Watch Your Account Grow</strong>
          Your authentich, targeted fun base grows each post.
        </li>
      </ul><!-- / col -->
    </section><!-- / process -->
    <section class="intro">
      <h2>How Does it Work?</h2>
      <div class="holder">
         <div class="item">
           <div class="block">
            <div class="ico">
              <img src="assets/images/ico-intro-01.png" alt="img">
            </div><!-- / ico -->
            <strong>Join Us</strong>
           </div><!-- / block -->
         </div><!-- / item -->
         <div class="item first">
           <p><strong>Join</strong> our community of over one million members <br>by simply logging into your Instagram account. </p>
         </div><!-- / item -->
      </div><!-- / holder -->
      <div class="holder">
         <div class="item second">
           <p><strong>Let Celebus</strong> exchange likes, views, and followers <br>with other community members to contribute <br>automatically</p>
         </div><!-- / item -->
         <div class="item">
           <div class="block">
             <div class="ico">
               <img src="assets/images/ico-intro-02.png" alt="img">
             </div><!-- / ico -->
             <strong>Boost</strong>
           </div><!-- / block -->
         </div><!-- / item -->
      </div><!-- / holder -->
      <div class="holder">
         <div class="item">
           <div class="block">
            <div class="ico">
              <img src="assets/images/ico-intro-03.png" alt="img">
            </div><!-- / ico -->
            <strong>Get Boosted</strong>
           </div><!-- / block -->
         </div><!-- / item -->
         <div class="item third">
           <p><strong>Receive</strong> likes, views, and followers for each new <br>post you upload to organically grow your account <br>and boost your metrics.</p>
         </div><!-- / item -->
      </div><!-- / holder -->
      <div class="btn-holder">
        <a href="#" class="btn dashed">Get Started</a>
      </div><!-- / btn-holder -->
    </section><!-- / intro -->
    <h2>Why should you use US</h2>
    <section class="two-cols">
      <div class="col">
        <img src="assets/images/img-04.png" alt="heart">
        <strong class="title">Real Users</strong>
        <p>We use real users. Most fake followers are easily detected, but ours are real and pass fake follower tests.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit volup tatem accusantium doloremque laudantium, totam rem aperiam</p>
      </div><!-- / col -->
      <div class="col">
        <img src="assets/images/img-05.png" alt="cog">
        <strong class="title">Instant or Organic Delivery</strong>
        <p>Orders can either instantly delivered or over time.</p>
        <p>We provide the option for same day delivery, or an option that spreads the followers over several months to make the growth appear more organic.</p>
      </div><!-- / col -->
    </section><!-- / two-cols -->
    <section class="three-cols">
      <div class="col">
        <img src="assets/images/img-06.png" alt="detect">
        <strong class="title">Automatic Detection</strong>
        <p>Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore </p>
      </div><!-- / col -->
      <div class="col">
        <img src="assets/images/img-07.png" alt="Cancel">
        <strong class="title">Cancel at Any Time</strong>
        <p>Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore </p>
      </div><!-- / col -->
      <div class="col">
        <img src="assets/images/img-08.png" alt="money back">
        <strong class="title">Money Back Guarantee</strong>
        <p>Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore </p>
      </div><!-- / col -->
    </section><!-- / three-cols -->
    <div class="btn-holder">
      <a href="#" class="btn dashed">Get Started</a>
    </div><!-- / btn-holder -->
    <section class="testimonials">
      <h2>What people say about Us</h2>
      <em class="title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</em>
      <p><em>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nventore veritatis et sequi nesciunt neque porro quisquam ! </em></p>
      <div class="name">
        <img src="assets/images/img-face-01.png" alt="user">
        <span><span>Sarah Davis</span>, Los Angeles</span>
        <span class="info">1764 posts    27K followers</span>
      </div>
    </section><!-- / testimonials -->
    <section class="start">
      <h2>Get Started Now!</h2>
      <p>Choose one of the options below to get started. Your Instagram Likes and Followers are only a few clicks away!</p>
      <div class="btn-area">
        <a href="#" class="btn black"><img src="assets/images/ico-boost.png" alt="like">Boost my Profile</a>
      </div><!-- / btn-area -->
    </section><!-- / start -->
    {% include "partials/_footer.html" %}
  </div><!-- / wrapper -->
</div><!-- / page -->
</body>
{% include "partials/_scripts.html" %}
</html>
