{% include "partials/_head.html" %}
<div class="page sign-up">
  {% include "partials/_header-sign.html" %}
  <div class="plan">
    <span class="box">
      Liks Per Post
      <strong>100</strong>
    </span><!-- / box -->
    <strong class="price"><span>$</span>3<sup>29</sup></strong>
    <span class="confirm"><img src="assets/images/ico-accept.png" alt="accept">One Time purchases</span>
  </div><!-- / plan -->
  <div class="wrapper">
    <a href="#" class="change">Change Package</a>
    <div class="results">
      <div class="item">
        <img src="assets/images/img-face-02.png" alt="name">
        <strong class="name">
          Sarah Davis
          <span>1764 posts    27K followers</span>
        </strong>
        <a href="#" class="edit">Edit</a>
      </div><!-- / item -->
      <div class="item">
        <div class="info">
          <img src="assets/images/ico-profile.png" alt="profile">
          <span>sarahdavis</span>
          <img src="assets/images/ico-mail.png" alt="profile">
          <span>sarahdavis@gmail.com</span>
          <img src="assets/images/ico-password.png" alt="profile">
          <span>********</span>
        </div><!-- / info -->
        <a href="#" class="edit">Edit</a>
      </div><!-- / item -->
      <div class="item">
        <div class="info">
            <img src="assets/images/img-paypel.png" alt="paypel">
        </div><!-- / info -->
        <a href="#" class="edit">Edit</a>
      </div><!-- / item -->
    </div><!-- / results -->
    <h3 class="active">SUMMARY</h3>
    <div class="summary">
      <span>Likes Per Post <span>100</span></span>
      <span>Price <span>$3.29</span></span>
      <span class="total">Total <span>$3.29</span></span>
      <input type="submit" value="Finish" class="btn submit">
    </div><!-- / summary -->
    {% include "partials/_footer-sign.html" %}
  </div><!-- / wrapper -->
</div><!-- / page -->
</body>
{% include "partials/_scripts.html" %}
</html>
