<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>CELEB US</title>

  <!-- CSS -->
  <!-- <link rel="stylesheet" href="assets/css/vendors.min.css"> -->
  <link rel="stylesheet" href="assets/css/main.min.css">
  <!-- IE -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>
<body>
